[Unit]
Description=Helper for Mandos server
After=mandos.service
Requisite=mandos.service

[Service]
# Modify this with correct file location and necessary command line arguments
ExecStart=/opt/mandos-helper/env/bin/python /opt/mandos-helper/mandos-helper --helper authy
Restart=always

[Install]
WantedBy=multi-user.target
